body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #3e5533;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 70px;
  margin-right: 10px;
}

header .logo span {
  font-size: 25px;
  color: #ffffff;
  font-family: 'Elephant', serif;
}

nav {
  background-color: #3e5533;
  padding: 0.75em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ccc;
}

/* Responsive design for navigation bar */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }
  nav li {
      margin-right: 0;
  }
  nav a {
      font-size: 1.2em;
  }
  .search-input {
      width: 100%;
  }
}

section.main {
  text-align: center;
  padding: 120px 20px;
  background-color: #699452;
  flex: 1;
}

section.main h1 {
  font-size: 100px;
  color: white;
}

section.main p {
  font-size: 1.1em;
  max-width: 700px;
  margin: 20px auto;
  color: white;
}

.book-now {
  background-color: #e6ca48;
  color: black;
  padding: 15px 30px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.1em;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.menu-heading-section {
  background-color: #e6ca48;
  padding: 40px 0;
  text-align: center;
}

.menu-heading-section h1 {
  font-size: 5rem;
  color: #537941;
  margin-bottom: 10px;
}

.menu-heading-section .restaurant {
  color: #537941;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-heading-section .description {
  color: #537941;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menu-grid-section {
  background-color: #537941; 
  padding: 40px 0;
}

.menu-grid-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.menu-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  text-align: center;
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.menu-item h3 {
  color: #3f8d30;
  font-size: 1.5rem;
  margin: 15px 0 10px;
}

.menu-item p {
  font-size: 1rem;
  color: #666;
}

.menu-item p:first-of-type {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}


.subscribe-section {
  background-color: #f5f5f5;
  text-align: center;
  padding: 50px;
}

.subscribe-section h2 {
  font-family: 'BerkshireSwash-Regular';
  color: #3f6634;
  font-size: 75px;
}

.subscribe-section p {
  color: #666;
  max-width: 900px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.6;
}

.email-box {
  margin-top: 20px;
}

.email-box input[type="email"] {
  padding: 10px;
  width: 250px;
  border: 2px solid #3f6634;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  text-align: center;
}

.email-box button {
  padding: 10px 100px;
  background-color: #3f6634;
  color: white;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.email-box button:hover {
  background-color: #365a2c;
}

footer {
  background-color: #537941;
  padding: 40px 20px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.footer-section h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 24px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.social-icons i {
  font-size: 20px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.social-icons i:hover {
  color: #ddd;
}